.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: hsl(235, 50%, 67%);
  &_container {
    display: flex;
    min-height: 65px;
    align-items: center;
    justify-content: space-between;
  }
  &_logo {
    display: flex;
    min-height: 65px;
    align-items: center;
    justify-content: space-between;
  }
  &_menu {
    padding: 5px 0;
    margin-left: 50px;
  }
}
.menu {
  margin-right: 20px;
}
@media (max-width: 490px) {
  .header {
    &_container {
      justify-content: flex-end;
    }
    &_logo {
      display: none;
    }
  }
}
