.input {
  padding: 10px;
  width: 100%;
  height: 41px;
  font-size: 16px;
  border: 2px solid hsl(235, 100%, 90%);
  border-radius: 4px;
  &:focus {
    outline: 0;
    box-shadow: 0 0 3px 2px hsl(235, 100%, 90%);
  }
}
