.input {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: 2px solid hsl(235, 100%, 90%);
  border-radius: 4px;
  font-family: inherit;
  font-weight: inherit;
  &:focus {
    outline: 0;
    box-shadow: 0 0 6px 2px hsl(235, 100%, 90%);
  }
}
