.project_item {
  border-radius: 4px;
  border: 1px solid hsl(235, 100%, 90%);
  &_link {
    color: inherit;
    text-decoration: inherit;
  }
  &_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    user-select: none;
  }
  &_body > :not(:last-child) {
    margin: 0 0 10px 0;
  }
  &_body:hover {
    cursor: pointer;
  }
  &_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &_title {
    font-weight: 500;
    font-size: 20px;
  }
  &_icons {
    display: flex;
    .btn.icon-btn {
      font-size: 1rem;
      &:hover {
      }
    }
  }
  &_icons > *:not(:first-child) {
    margin: 0 0 0 15px;
  }
  &_text {
    font-weight: 400;
    align-self: start;
  }
}
